@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.logo-content {
  width: 100%;
  padding: 3%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: 100%;
  background-position-y: 50%;
}

.logo-content img {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
}

.bg-light {
  background-color: #f8bad5 !important;
}

.navbar-nav {
  float: right;
  margin-right: 0 !important;
  margin-left: auto;
}

.content1 {
  background-color: #CCC;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pacifico', cursive;
}

.about, .portfolio, .contact {
  color: #1b3d6b;
  text-align: center;
  padding: 5%;
  height: auto;
}

.about {
  background-image: url("../img/bg-about.png");
}

.contact {
  background-image: url('../img/bg-contact.png');
  background-size: 100%;
}

.about h1, .portfolio h1, .contact h1 {
  font-size: 4em;
  color: #b8529f;
  font-weight: bold;
}

.about img.logo {
  margin: 3% auto;
  width: 25%;
}

.contact .img {
  float: left;
}

.services .text-primary {
  color: #3C1313;
}



.contact label, .contact input, .contact textarea {
  width: 100%;
}

.btn-success {
  font-family: 'Russo One', sans-serif;
  color: #FFF;
  background-color: #3C1313;
  border-color: #3C1313;
  font-size: 1.5em;
  margin-top: 2%;
}

.btn-success:hover {
  background-color: #8C2C2C;
  border-color: #8C2C2C;
}

.proy_ava {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 10%;
}

.proy_ava img {
  width: 100%;
  height: 100%;
  position: relative;
}

.proy_info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  letter-spacing: normal;
  text-align: center;
  display: none;
  background-color: rgba(60, 19, 19, 0.9);
}

.proy_ava:hover > .proy_info {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.proy_data {
  height: 110px;
  line-height: 120%;
  color: #FFF;
  margin-top: 10%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.proy_data h2 {
  color: #FFF;
  font-size: 24px;
  margin-bottom: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.proy_data p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 110%;
}

a.proy-mas {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: none;
  -webkit-border: 1px solid #FFF;
  -moz-border: 1px solid #FFF;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 5px 15px;
  font-weight: bold;
  text-decoration: none;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-transition: border 0.3s ease, background-color 0.3s ease;
  -moz-transition: border 0.3s ease, background-color 0.3s ease;
  transition: border 0.3s ease, background-color 0.3s ease;
}

a.proy-mas:hover {
  -webkit-border: 1px solid #FFF;
  -moz-border: 1px solid #FFF;
  border: 1px solid #FFF;
  color: #3C1313;
  background-color: #FFF;
  -webkit-transition: border 0.3s ease, background-color 0.3s ease;
  -moz-transition: border 0.3s ease, background-color 0.3s ease;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.lead {
  line-height: 160%;
  margin-bottom: 3%;
}

footer {
  background-color: #b8529f;
  color: #FFF;
}